//01
@charset "utf-8";

/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Noto+Sans+KR&family=Public+Sans&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

/* 영어폰트 */
.en {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
}
.en1 {
  font-family: 'Public Sans', sans-serif;
}
.en2 {
  font-family: 'Cormorant Infant', serif;
  font-style: italic;
}
@mixin content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0d0d;
  color: #fbe094;
  text-transform: uppercase;
}

.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fed700;

  .con01 {
    @include content;

    .text-box {
      text-align: center;

      .logo {
        display: block;
        margin: 0 auto 25px;
        width: 150px;

        img {
          width: 100%;
        }
      }

      .title {
        font-size: 68px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        font-weight: bolder;
      }

      .desc {
        font-size: 20px;
        letter-spacing: -1px;
      }
    }
  }

  .portfolio {
    padding-top: 100px;

    .text-box {
      width: 1400px;
      margin: 0 auto;
      text-transform: uppercase;
      color: #0f0d0d;

      h2 {
        font-size: 72px;
        letter-spacing: -5px;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
      }
    }

    .list {
      display: flex;
      flex-wrap: nowrap;
      padding: 6% 0;

      li {
        flex-shrink: 0;
        width: 400px;
        height: 520px;
        padding: 0 30px;
        cursor: pointer;

        .box {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          &::after {
            opacity: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: url('/img/ex_4/sticker.png') no-repeat center / 130px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
          }

          img {
            width: 100%;
            transition: 0.5s;
          }
        }

        &:hover {
          .box {
            &::after {
              opacity: 0.5;
            }

            img {
              transform: scale(0.98);
              filter: brightness(60%);
            }
          }
        }

        &.a {
          transform: rotate(-8deg);
        }
        &.b {
          transform: rotate(4deg);
        }
        &.c {
          transform: rotate(-5deg);
        }
      }
    }
  }

  .con03 {
    @include content;
    h2 {
      font-size: 80px;
    }
  }
}
